@model IEnumerable<InternetShop.ViewModels.OrderViewModel>

<div class="container">
    <table class="table table-striped custab">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.FirstName)</th>
                <th>@Html.DisplayNameFor(model => model.SecondName)</th>
                <th>@Html.DisplayNameFor(model => model.Date)</th>
                <th>@Html.DisplayNameFor(model => model.OrderStatus)</th>
                <th>@Html.DisplayNameFor(model => model.Total)</th>
                <th></th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                <td>@Html.DisplayFor(modelItem => item.SecondName)</td>
                <td>@Html.DisplayFor(modelItem => item.Date)</td>
                <td>
                    @using (Html.BeginForm("ChangeStatus", "Order"))
                    {
                        @Html.Hidden("id", item.Id)
                        @Html.DropDownList("orderStatus",
                        new SelectList(Enum.GetValues(typeof(DataAccess.Entities.OrderStatus))), item.OrderStatus.ToString(), new { onchange = "this.form.submit()" })
                    }
                </td>
                <td>@Html.DisplayFor(modelItem => item.Total)</td>
                <td class="text-center">
                    <a class='btn btn-info btn-xs' href="@Url.Action("GetOrderById", "Order", new { id = item.Id}, null)"><span class="glyphicon glyphicon-info-sign"></span> Details</a>
                </td>
            </tr>
        }
    </table>
</div>

<style>
    .custab {
        border: 1px solid #ccc;
        padding: 5px;
        margin: 5% 0;
        box-shadow: 3px 3px 2px #ccc;
        transition: 0.5s;
    }

        .custab:hover {
            box-shadow: 3px 3px 0px transparent;
            transition: 0.5s;
        }
</style>

