@model InternetShop.ViewModels.OrderViewModel

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="invoice-title">
                <h2>Order details</h2><h3 class="pull-right">Order # @Model.Id</h3>
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-6">
                    <address>
                        <strong>Shipped To:</strong><br>
                        Name:  &nbsp; @(Model.FirstName +" "+ Model.LastName)<br>
                        Country: &nbsp; @Model.Country<br>
                        City: &nbsp; @Model.City<br>
                        Adress: &nbsp; @Model.Adress
                    </address>
                </div>
                <div class="col-xs-6 text-right">
                    <address>
                        <strong>Order Date:</strong><br>
                        @Model.Date<br><br>
                    </address>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Order summary</strong></h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <td><strong>Item</strong></td>
                                    <td class="text-center"><strong>Price</strong></td>
                                    <td class="text-center"><strong>Quantity</strong></td>
                                    <td class="text-right"><strong>Totals</strong></td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Details)
                                {
                                    <tr>
                                        <td>@item.Product.Name</td>
                                        <td class="text-center">$@item.UnitPrice</td>
                                        <td class="text-center">@item.Quantity</td>
                                        <td class="text-right">@(item.UnitPrice*item.Quantity)</td>
                                    </tr>
                                }
                                <tr>
                                    <td class="no-line"></td>
                                    <td class="no-line"></td>
                                    <td class="no-line text-center"><strong>Total</strong></td>
                                    <td class="no-line text-right">@Model.Total</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>