@model IEnumerable<DataAccess.Entities.Product>

@{
    Layout = null;
    ViewBag.Title = "GetProducts";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <img src="@Url.Action("ProductImage", "Product", new { id = item.Id})" height="150" width="140" id="productImage"/>
            <p>@Html.DisplayFor(modelItem => item.Name)</p>
            <p>@Html.DisplayFor(modelItem => item.Category.Name)</p>
            <p>@Html.DisplayFor(modelItem => item.Price)</p>
            <a href="@Url.Action("AddToCart", "Cart", new { id = item.Id })" class="btn btn-default">
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                ADD TO CART
            </a>
        </div>
    }
</div>

<style>
    #productImage{
        float:left;
    }
</style>
